<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Google search console verification -->
<meta name="google-site-verification" content="RI01Ds0A1vdPaU9N1zQyX6PQHbg5upOKaS-xjVJyM_k" />

<!-- You can set your favicon here -->
<meta property="og:image" content="https://kitswas.github.io/git-for-all/favicon.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="128" />
<meta property="og:image:height" content="128" />

<link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-icon-180x180.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/icons/android-icon-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/icons/favicon-96x96.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./assets/icons/ms-icon-144x144.png">

<!-- end custom head snippets -->
