---
---

@import "{{ site.theme }}";

.btn {
  color: #eee;
  background: #0f79d0;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #737373;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #bbb;
  }
  blockquote {
    color: #999;
  }
  #main_content_wrap {
    background: #2f2f2f;
  }
  .btn {
    color: #0f79d0;
    background: #111;
  }
}
