---
---

@import "{{ site.theme }}";

#forkme_banner {
  background: url('../images/blacktocat.png') #07c no-repeat 95% 50%;
}

a {
  color: #06c;
}

.btn {
  color: #fff;
  background: #07c;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #bbb;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ddd;
  }
  blockquote {
    color: #999;
  }
  #main_content_wrap {
    background: #2f2f2f;
  }
  .btn {
    color: #0f7ed9;
    background: #111;
  }
}
