<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-IN" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
  {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <a href="{{ '/' | relative_url }}">
            <p id="project_title">{{ site.title | default: site.github.repository_name }}</p>
            <p id="project_tagline">{{ site.description | default: site.github.project_tagline }}</p>
          </a>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <main id="main_content_wrap" class="outer">
      <article id="main_content" class="inner">
        {{ content }}
      </article>
      <script src="{{ '/assets/js/header-links.js?v=' | append: site.github.build_revision | relative_url }}" type="text/javascript" defer></script>
    </main>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Edits, suggestions and reviews are welcome</p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QDE9LD5HS"></script>

  </body>
</html>
